# Java files
*.class
*.jar

# VS Code settings
.vscode/
# Maven target directory
target/
# out directory for compiled classes
out/
# old stuff
old_stuff/
old_stuff/cd_database.db
old_stuff/cd_database.py
old_stuff/database_query.py
.fake